.container {
   position: absolute;
   top: 10em;
   left:35%;

   font-family:cursive;
    font-weight: bold;
    border: .1px solid white;
    border-radius: 50px;

    width: 30%;
    height: 30em;
    background-color: rgba(81, 255, 0, 0.226);
    backdrop-filter: blur(10px);

}


.user {

    
    color: azure;
    position: absolute;
    top: 30%;
    left: 28%;
}

.iUser {
    
    width: 20em;

    border-top:darkslategray;
    border-bottom: 1px solid white;
    border-left: 1px;
    border-right: 1px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    top: 35%;
    left: 28%;
}

.iUser:focus {
    outline: none;
    
}

.pass {
    color: azure;
    position: absolute;
    top: 45%;
    left: 28%;
}

.iPass {
    width: 20em;

    border-top:darkslategray;
    border-bottom: 1px solid white;
    border-left: 1px;
    border-right: 1px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 28%;
}

.iPass:focus {
    outline: none;
}

.errorUser {
    color: red;
    position: absolute;
    top: 11em;
    left: 10em;
}
.errorPass {
    color: red;
    position: absolute;
    top: 15.5em;
    left: 10em;
}

.button {

    position: absolute;
    top: 60%;
    left: 46.7%;
}