.input {
    position: relative;
    top: -2.5em;
    left: 125em;
    border-radius: 10px 0 0 10px;
    border: none;
    
   height: 2em;
}

.button {
    color: rgb(199, 252, 75);
    position: relative;
    top: -2.5em;
    left: 125em;
    background-color: rgb(0, 219, 0);
    border: none;
    border-radius: 0 10px 10px 0;

    height: 2em;
}