.nav {
    display: grid;
    grid-template-rows: auto auto auto ;

    background-color: rgb(168, 62, 255);
    border-radius: 10px;
    border-top: solid 2px #dcb1ff;
    border-left: solid 2px #dcb1ff;
    position: absolute;
    top: .7em;
    left: .7em;

    height: 65px;
    width: 99%;
}

/* .about {
    display: inline;
    position: relative;
    top: 1em;
    left: 75em;
    
} */